# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
*.DS_Store

# Virtual environments
.venv/
venv/

# Env vars & secrets
.env

# IDE/project folders
.idea/

# Sample input files
sample_inputs/*